.postcss{
    background-color: #0000002d; 
    border-radius: 20px !important;
}

.postOtherJob{
    background-color: #0000002d;
    border-radius: 20px !important;
}

.boldHeading{
    font:bold;
}